    <div id="login" class="modal login container" ng-cloak> 

          <div class="modal-header">
            <h1>
              {{!register && 'Login' || 'Register account'}}
              <a class="close" data-dismiss="modal" href="/me/wall" >&times;</a>
            </h1>
            <p class="lead">
              Use your email or our social login button. We respect your privacy.
            </p>
          </div>
          <div class="modal-body" >

            <div class="span4">
              
              <form class="well clearfix" action="/register" method="post">
                <input class="span3" type="email" autofocus required ng-model="username" id="username" placeholder="Your email">
                <input class="span3" type="password" required pattern=".{4,}" ng-model="password" id="password" placeholder="{{ register && 'Choose Password' || 'Your Password'}}">
                <input class="span3" type="password" required pattern=".{4,}" ng-model="password2" ng-show="register" placeholder="Repeat password">
                <input type="submit" class="btn span3 pull-left btn-success" value="Login" ng-show="!register" ng-click="submit">

                <label ng-show="register"><input type="checkbox" ng-model="agree"> I agree with the terms &amp; conditions</a>
                <input type="submit" class="btn span3 pull-left btn-success" value="Register" ng-show="register" ng-click="submit">

              </form>

            </div>
            <div class="span3 ">
              <h1>or..</h1>
              <a class="btn span3 btn-large" href="/auth/facebook" onclick="window.location = this.href; event.preventDefault();"><i class="icon icon-facebook"></i> Facebook</a>
              <a class="btn span3 btn-large" href="/auth/twitter" onclick="window.location = this.href; event.preventDefault();"><i class="icon icon-twitter"></i> Twitter</a>
            </div>

          </div>


          <div class="modal-footer">
            <a href="/" class="btn btn-large pull-right" >Close</a>
          </div>

   </div>
          