
      <div id="upload" class="modal hide" ng-cloak upload dropzone> 

        <div class="modal-header">
          <h1>
            Upload Photos to Your Timeline
            <a class="close" data-dismiss="modal" href="/me/wall" >&times;</a>
          </h1>
          <p class="lead">
            Drag and drop your photos or folders below. If you have many folders, just add them all. If you get interrupted, try again and we will continue where you left off. All duplicates will be ignored.
          </p>
        </div>
        <div id="dropzone" class="dropzone media modal-body" >
        
          <div class="instructions" ng-show="!files.length">
            <i class="icon-folder-open icon-4x pull-left" > </i>
            <label> Drag and drop a photo folder or SD card here...
              <input ng-show="true" class="btn-large span3 btn-success" type="file" id="directoryinput" multiple webkitdirectory ng-model="selectedFolder" ng-change="fileChange">
            </label>
          </div>
          <ul class="media-list">
            <li class="media {{file.state}}" ng-repeat="file in files">
              <img ng-src="{{file.thumbnail}}" ng-cloak ng-show="file.thumbnail"/>
              <div class="media-body">
                <div class="progress progress-striped {{file.state == 'Uploading' && 'active' || ''}}">
                  <div title="{{file.error}}" class="bar {{file.state == 'Error' && 'bar-danger' || file.state == 'Done' && 'bar-success' || ''}}" style="width: {{file.progress || 0}}%;">{{file.state}}</div>
                </div>
              </div>
            </li>
          </ul>

        </div>
        <div class="modal-footer">
          <div class="span2 pull-left" ng-show="uploading"><input type="range" min="0" max="10" ng-model="channels"> 
            {{channels}} upload channels
          </div>

          <div class="span4 pull-left alert" ng-show="!uploading">
            You may need <a href="http://google.com/chrome">Google Chrome</a> to use this feature.
          </div>
          <a href="#" class="btn btn-large {{uploading && 'btn-danger' || 'btn-success'}} pull-right ng-binding" ng-disabled="!files.length" ng-click="uploading = !uploading">{{(queue.length && 'Uploading ' + files.length + " photos...") || "Upload"}}</a>
        </div>
     </div>

