
    body{
      font-family: "Gill Sans", "Open Sans", Corbel, Consolas;
      background: #000;
    }



    header.featurette{
      padding: 50px 500px;
      margin: -50px -500px 0;
     /* background: url(/img/is099t8ft.jpg);*/
/*      background: url(http://pcdn.500px.net/553621/ae6a6518619f0cc18dde75a15c4e648df70b0686/15.jpg);
*/      background: url(http://www.johner.se/images/robertharding/sketch/serie0019/772-1267.jpg);
      background-size: 1920px;

    }

    header a.btn{
      width: 200px;
      margin-top:10px;
    }

    header a.btn{
      border-radius: 0px;
    }

    header h2, header p{
      color: #111;
    }

    body footer{
      background: #fefefe;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 150px;
    }

    a.brand img
    {
      width: 120px;
      margin: -10px;
    }

    h1,h2,h3,h4,h5, a.brand
    {
      font-weight: normal !important;
    }

    .statuscode h1, h1.outside
    {
      font-family: Pacifico;
      font-size: 120px;
      color:#aaa;
      text-shadow: #999 3px 3px;
      margin:-200px 0 200px -300px;
      -webkit-transform:rotate(-20deg);
    }

    .me{
      width:22px;
      border-radius:9px;
      margin-right: 10px;
    }

    /*
    #wall .group{
      overflow-y: scroll;
      height: 900px;
    }*/

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: relative;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .navbar-fixed-bottom img
    {
      height: 28px;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
      height: 400px;
    }

    .carousel .container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .carousel-control {
      background-color: transparent;
      border: 0;
      font-size: 120px;
      margin-top: 0;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel .item {
      height: 400px;
      overflow: none;
      vertical-align: middle;
    }
    .carousel img {
      min-width: 110%;
      position: absolute;
      opacity:0.3;
       top: -60%;
      -webkit-transition:all 15s ease-in;
      -moz-transition:all 15s linear;
      transition:all 15s linear;
    }

    .carousel .item.active img {

      -webkit-transform: scale(1.2) translateX(50px);
      -moz-transform: scale(1.2);
      transform: scale(1.2);

    }

    .carousel-caption {
      background-color: rgba(255,255,255,0.04);
      position: static;
      max-width: 550px;
      padding: 20px;
      margin-bottom: 26px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      font-weight: normal;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    .bodyPadding{
      padding-top: 100px;
    }

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

    .marketing .muted{
      color: #cc8809;
    }

    header small{
      color: #ccc;
    }

    /* Featurettes
    ------------------------- */

    header.featurette{
      padding: 250px 0;
      height:400px;
    }

    header img{
      margin-left:-250px;
      margin-top:-100px;
      margin-right:100px;
    }

    .featurette video.pull-right{
      margin-right: -570px;
      margin-top: -150px;
    }

    .featurette .mobile{
      margin-right: -305px;
      margin-top: -97px;
      background: url(/img/mobile.png) 50% fixed;
      height: 297px;
      width: 194px;
      display: inline-block;
      background-size: 50% auto;

    }

    .featurette-divider {
      padding: 0px 0px; /* Space out the Bootstrap <hr> more */
      margin: 0px -450px; /* Space out the Bootstrap <hr> more */
      background-size: 1720px !important;
      width: 1920px;
      left:0;
      border:0;
      height: 500px;
      background-attachment: fixed !important;
      z-index: 0;
    }
    .featurette {
      padding: 60px; /* Vertically center images part 1: add padding above and below text. */
      padding-bottom: 350px;
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      height:400px;
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-left : -250px;
      margin-right: 166px;
    }
    .featurette-image.pull-right {
      margin-right: -330px;
      margin-top: -175px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container{
        overflow: hidden;
      }

      body footer{
        padding-top:0;
      }

      header.featurette{
        padding : 100px 10px 50px 220px;
        margin : -50px -10px 0px -180px;
        width:100%;
        height:auto;
        background-size: 100%;
      }

      .container{
        width:auto;
      }
      .featurette{
        width:90%;
      }

      .lead{
        font-size: 17px;
        line-height: 20px;
      }

      .modal#login{
        top: 10px;
        left: 10px;
        margin: 0;
        right: 10px;
        bottom: 10px;
        min-width: inherit;
      }

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .navbar-inner .brand{
        display: none;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 50px 30px;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        max-width: 20%;
        height:auto;
        margin: 0 auto 20px;
        display: none;
      }


      .featurette-divider {
        margin: 0px -250px; /* Space out the Bootstrap <hr> more */
        background-size: 979px !important;
      }
    }


    @media (max-width: 767px) {



      header.featurette{
        background-size: 120%;
      }

      header.featurette .lead{
        font-size: 14px;
      }

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-bottom: 40px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

      .featurette-divider {
        margin: 0px -150px; /* Space out the Bootstrap <hr> more */
        background-size: 767px !important;
        background-position: 200px;
        height:220px !important;
      }


      .modal-header, .modal-body h1 {
       display: none;
      }

      .login .modal-body {
        background-image: url(/img/is099t8ft.jpg);
        background-size:200% !important;
        text-align: center;
        padding:30px;
      }

      #login {
        min-width: 100%;
      }

      .fullscreen{
        display:none;
      }
      .about{
        display:none;
      }
    }

    @media (max-width: 479px) {

      .featurette-divider {
        margin: 0px -150px; /* Space out the Bootstrap <hr> more */
        background-size: 500px !important;
        height:240px !important;
      }

    }


.photo img, .photo video{
}

.photo a {
  -webkit-transition: opacity 0.4s;
  text-shadow: 0.1em 0.1em #000;
  opacity:0;
  color: #fff;
  text-decoration: none;
  float:right;
  clear: right;
  margin-left: -20px;
  padding-right:5px;
  z-index: 100;
  position: relative;
  font-size:9.5px;
  line-height: 14px;
}

.photo.hidden{
  opacity:0;
  display:none;
}

.photo:hover a {
  opacity: 0.4;
}

.photo:hover a:hover {
  color: #fff;
  opacity: 1;
  font-size: 120%;
  margin-right: -2px;
  margin-top: 2px;
}

body .navbar-inner{
  background: #111;
  color: #fff;
}
.thumbnail img {
  opacity: 0.9;
}

.thumbnail:hover img
{
	opacity: 1;
}

.thumbnails.preview img
{
  width: 64px;
}

.true.thumbnails .thumbnail:hover {
  border-color: #abc;
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 80px 0;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #aabbcc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#aabbcc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#aabbcc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#aabbcc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#aabbcc 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#aabbcc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#aabbcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.group h2{
  color: #555;
  padding:0;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  margin-bottom:10px;
  text-transform: capitalize;
}

.clear
{
  clear:both;
}

.pull-center
{
  text-align: center;
  margin-left: auto;
}

#zoomLevel
{
  width:100%;
  height: 30px;
  margin-top:10px;
}

#wall:hover .slider
{
  opacity:0.9;
}

.focus .slider
{
  opacity: 0;
}

#wall .slider
{
  position: fixed !important;
  bottom: 50px;
  opacity: 0;
  -webkit-transition: all 0.5s;

  background: #000 -webkit-linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.075) 76%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background: #000    -moz-linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.075) 76%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background: #000     -ms-linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.075) 76%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background: #000      -o-linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.075) 76%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  background: #000         linear-gradient(91deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.075) 76%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);

  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  height:50px;
  margin: 0 20%;
  width: 50%;
  padding: 15px;
    -webkit-transform: translateZ(10px);
  -webkit-backface-visibility: hidden;

}

#wall input{
  padding: 10px 0;
  margin-top: -15px;
}

#wall
{
  padding-top: 80px;
  }

#wall h2 small {
  clear:both;
  display: block;
}

#wall .group .photo{
    display: inline;
}

#wall .group .clearfix
{
  -webkit-column-span: all;
  clear: both;
  float:none;
  display: block;
}

#wall img
{
  -webkit-transition    :all .3s ease-out-back;
  -moz-transition       :all .3s ease-out-back;
  transition            :all .3s ease-out-back;
  max-width: inherit !important;
}

.subscription-plan{text-align:center;float:right;width:24.4%;border-right:1px #d0d2d9 solid;padding:20px 0 15px;border-bottom:1px #d0d2d9 solid;border-top:1px #d0d2d9 solid;background-color:#f7f7f7;overflow:hidden;position:relative;}.subscription-plan:last-of-type{border-left:1px #d0d2d9 solid;padding-left:0;border-radius:3px 0 0 3px;}
.subscription-plan:first-of-type{padding-right:0;border-radius:0 3px 3px 0;border-right-style:solid !important;}
.subscription-plan h1{font-size:20px;text-transform:capitalize;}
.subscription-plan h2{font-size:28px;color:#74b45c;padding:10px 0 0;margin:0 0 7px;}
.subscription-plan em{font-style:normal;color:#797e96;}
.subscription-plan .object,.subscription-plan .feature{background-color:#fff;border-bottom:1px #d0d2d9 dotted;}
.subscription-plan .object h2,.subscription-plan .feature h2{font-size:14px;margin:0.3em 0 0.12em;color:#cc8809;}
.subscription-plan .object p:first-child,.subscription-plan .feature p:first-child{margin:0 0 -1em;padding:1em 0 0;}
.subscription-plan .object strong,.subscription-plan .feature strong{display:block;}
.subscription-plan .object:first-of-type,.subscription-plan .feature:first-of-type{margin-top:15px;border-top:1px #d0d2d9 dotted;}
.subscription-plan .object:last-of-type,.subscription-plan .feature:last-of-type{margin-bottom:15px;}
.subscription-plan .feature{padding:0 12px;}.subscription-plan .feature h2{font-size:38px;line-height:1em;margin:0 0 -2px;}
.subscription-plan .feature .no{color:#dddee5;}
.subscription-plan .button{float:none;margin:0;}
.subscription-plan .ribbon{position:absolute;top:5px;right:-31px;display:inline-block;font-size:12px;font-weight:bold;line-height:1.1em;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);padding:3px 0;width:100px;text-align:center;background-color:#7ab1d7;color:#fff;}
.subscription-plan.recommended{border-left:1px #d0d2d9 solid;border-color:#7ab1d7;border-radius:4px;box-shadow:0 0 6px #c9dfef;-webkit-transform:scale(1.02);-moz-transform:scale(1.02);-ms-transform:scale(1.02);-o-transform:scale(1.02);transform:scale(1.02);position:relative;z-index:50;}


@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    #wall .group {
        -moz-column-count: 5;
        -moz-column-gap: 5px;
        -webkit-column-count: 5;
        -webkit-column-gap: 5px;
        column-count: 5;
        column-gap: 5px;
    }
     
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    #wall .group {
        -moz-column-count: 4;
        -moz-column-gap: 5px;
        -webkit-column-count: 4;
        -webkit-column-gap: 5px;
        column-count: 4;
        column-gap: 5px;
    }
     
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    #wall .group {
        -moz-column-count: 3;
        -moz-column-gap: 5px;
        -webkit-column-count: 3;
        -webkit-column-gap: 5px;
        column-count: 3;
        column-gap: 5px;
    }

}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
    #wall .group {
        -moz-column-count: 2;
        -moz-column-gap: 5px;
        -webkit-column-count: 2;
        -webkit-column-gap: 5px;
        column-count: 2;
        column-gap: 5px;
    }
     
    #wall .slider {
      height: 20px;
    }

    #wall .slider label{
      display: none;
    }

    .navbar-fixed-bottom{
      display: none;
    }
}

.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
  }
}
@-moz-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}


.lazy-load, .lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.lazy-loaded { opacity: 1; }


.hero-unit{
  margin-top: 100px;
}

.dropzone{

  margin-bottom: 20px;
  height:300px;
  overflow: scroll;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.07), rgba(0,0,0, 0));
}

.dropzone .instructions{
  padding: 150px;
}

.dropzone .media.Done, .dropzone .media.Duplicate{
  -webkit-transition: 2s ease-out;
  opacity: 0;
  -webkit-transform: scale(0,0);
  position:absolute;
  top: 30px;
}

.dropzone li{
  list-style-type: none;
}

.dropzone li a{
}

input[type=file] {
  -webkit-appearance: none;
  position: relative;
  -webkit-box-sizing: border-box;
}
input[type=file]::-webkit-file-upload-button {
  width: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  border: none;
}

.modal-header {
  padding: 25px 40px;
}

.login .modal-body {
  background-image: url(/img/is099t8ft.jpg);
  background-size:100%;
  text-align: center;
  padding:30px;
}

.modal-body .instructions i{
  text-shadow: 1px #eee;
}

#login {
  min-width: 700px;
}

.modal#upload {
  width: 80%; /* desired relative width */
  left: 10%; /* (100%-width)/2 */
  top: 120px;
  margin: auto auto auto auto; /* place center */
}

body .modal.fade.in {
  top: auto; /* fade in to correct spot */
}

.dropzone input{
  font-size: 20px;
}

.dropzone label{
  font-size: 20px;
  width: 300px;
}

  #wall {
    width:120%;
/*    -webkit-perspective: 800px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective-origin: top;
    -webkit-transform-style: preserve-3d;*/
  }

  #wall.fullscreen .fullscreen {
    display: none;
  }

  #wall .fullscreen {
    background: rgba(0,0,0,0.6);
    color: #fff !important;
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    padding: 10px;
    border:none;
    border-radius: 5px;
  }

  #wall img.selected{
    z-index: 100;
    box-shadow: 0 0 85px #000;
    border-radius:2px;
  }

  #wall input#date{
    opacity: 0.6;
    background: #000;
    color: #fff;
    position: fixed !important;
    top: 30px;
    left: 10px;
    z-index: 100;
    padding: 20px;
    width: 85px;
    border:none;
    border-radius: 5px;
  }

  #wall input#date:hover{
    width: 200px;
    padding: 19px;
    opacity: 0.9;
    border: 1px inset;

    -webkit-transition: all 200ms cubic-bezier(0.555, 1, 0.190, 0.960); /* older webkit */
    -webkit-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
       -moz-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
        -ms-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
         -o-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
            transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.555, 1, 0.190, 0.960); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
       -moz-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
        -ms-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
         -o-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
            transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); /* custom */
  }

  #wall img{
    border: 0;
    background: #333;
    -webkit-transition: all 200ms cubic-bezier(0.555, 1, 0.190, 0.960); /* older webkit */
    -webkit-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
       -moz-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
        -ms-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
         -o-transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); 
            transition: all 200ms cubic-bezier(0.555, 1.245, 0.190, 0.960); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.555, 1, 0.190, 0.960); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
       -moz-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
        -ms-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
         -o-transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); 
            transition-timing-function: cubic-bezier(0.555, 1.245, 0.190, 0.960); /* custom */
}

#wall .flip{
   -webkit-transform:rotateY(-180deg);
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}

#wall .meta{
  background:rgba(0,0,0,0.5);
}

  /* use css instead of javascript to use maximum power from the engine */

  #wall img:hover, #wall img:selection
  {
    width: auto !important;
    opacity:1;
  }

  .filter0 .v0
  {  opacity:1; height:480px; /*width:inherit*/; }
  .filter0 .v1, .filter0 .v2, .filter0 .v3, .filter0 .v4, .filter0 .v5, .filter0 .v6, .filter0 .v7, .filter0 .v8, .filter0 .v9
  {  opacity:0.4; width:0; height:0;}

  .filter1 .v0,.filter1 .v1  
  {  opacity:1; /*width:inherit*/; }
  .filter1 .v2, .filter1 .v3, .filter1 .v4, .filter1 .v5, .filter1 .v6, .filter1 .v7, .filter1 .v8, .filter1 .v9
  {  opacity:0.4;}

  .filter2 .v0, .filter2 .v1, .filter2 .v2 
  {  opacity:1;/*width:inherit*/; }
  .filter2 .v3, .filter2 .v4, .filter2 .v5, .filter2 .v6, .filter2 .v7, .filter2 .v8, .filter2 .v9
  {  opacity:0.4;}
 
  .filter4 .v0, .filter3 .v1, .filter3 .v2, .filter3 .v3 
  {  opacity:1;/*width:inherit*/; }
  .filter3 .v4, .filter3 .v5, .filter3 .v6, .filter3 .v7, .filter3 .v8, .filter3 .v9
  {  opacity:0.4;}

  .filter4 .v0, .filter4 .v1, .filter4 .v2, .filter4 .v3, .filter4 .v4 
  {  opacity:1;/*width:inherit*/; }
  .filter4 .v5, .filter4 .v6, .filter4 .v7, .filter4 .v8, .filter4 .v9
  {  opacity:0.4;}

  .filter5 .v0, .filter5 .v1, .filter5 .v2, .filter5 .v3, .filter5 .v4, .filter5 .v5 
  {  opacity:1; }
  .filter5 .v6, .filter5 .v7, .filter5 .v8, .filter5 .v9
  {  opacity:0.4;}

  .filter6 .v0, .filter6 .v1, .filter6 .v2, .filter6 .v3, .filter6 .v4, .filter6 .v5, .filter6 .v6 
  {  opacity:1; }
  .filter6 .v7, .filter6 .v8, .filter6 .v9
  {  opacity:0.4;}

  .filter7 .v0, .filter7 .v1, .filter7 .v2, .filter7 .v3, .filter7 .v4, .filter7 .v5, .filter7 .v6, .filter7 .v7 
  {  opacity:1; }
   .filter7 .v8, .filter7 .v9
  {  opacity:0.4;}

  .filter8 .v0, .filter8 .v1, .filter8 .v2, .filter8 .v3, .filter8 .v4, .filter8 .v5, .filter8 .v6, .filter8 .v7, .filter8 .v8 
  {  opacity:1; }
    .filter8 .v9
  {  opacity:0.4;}

  .filter9 .v0, .filter9 .v1, .filter9 .v2, .filter9 .v3, .filter9 .v4, .filter9 .v5, .filter9 .v6, .filter9 .v7, .filter9 .v8, .filter9 .v9 
  {  opacity:1; }



.featurette .container{
    
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;

    animation: fadein 1s ease-out;
    -moz-animation: fadein 1s ease-out; /* Firefox */
    -webkit-animation: fadein 1s ease-out; /* Safari and Chrome */
    position:relative;
}
@keyframes fadein {
    from {
        opacity:0;
        left:-30px
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        left:-30px
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        left:-30px
    }
    to {
        opacity:1;
        left:0;
    }
}
