<footer>
  <div class="container">
    <header class="hero-unit">
      <h2>Oups, this page can not be found <span data-frown>:(</span></h2>
      <p>Sorry, but the page you were trying to view does not exist.</p>
      <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
      </ul>    
    </header>
  </div>
</footer>