  <header ng-show="loadingReverse" class="loader pull-left">
      <span></span>
      <span></span>
      <span></span>
  </header>


  <div id="photos" class="photos" >
    <div ng-controller="GroupsController">

      
        <div id="wall" class="thumbnails row" when-scrolled="scroll()">
          <div class="group {{group.viewMode}}" ng-repeat="group in groups" id="{{group.id}}" ng-cloak>
            <header>
              <h2>{{group.name}} <small>{{group.range}}</small></h2>
                <a href="/share?fromDate={{group.photos[0].taken}}&toDate={{group.photos[group.photos.length-1].taken}}" class="btn btn-small"><i class="icon-share"></i> Share</a>
                <a class="btn btn-small {{group.viewMode == 'large' && 'active'}}" ng-click="group.viewMode = 'large'"><i class="icon-align-justify"></i> Large</a>
                <a class="btn btn-small {{group.viewMode == 'grid' && 'active'}}" ng-click="group.viewMode = 'grid'"><i class="icon-th"></i> Grid</a>
                <a class="btn btn-small" ng-disabled="zoomLevel == 100" href="#{{group.id}}" ng-click="loadMore(photo.taken, zoomLevel+10)"><i class="icon-picture"></i> Load More</a>
            </header> 
            <div  ng-repeat="photo in group.photos|orderBy:'taken'" class="photo {{photo.class}} pull-left" title="{{photo.path}}" ng-controller="PhotoController">
              <a ng-click="hide(photo, group)"><i class="icon-remove"></i></a>
              <a ng-click="star(photo)"><i class="{{starClass(photo)}}"></i></a>
              <a href="/share?date={{photo.taken.split('T')[0]}}"><i class="icon-share"></i></a>
              <a>{{photo.class}}</a>

              <video controls width="100%" ng-show="photo.mimeType.split('/')[0] == 'video'" ng-click="click(photo)" rightClick="rightclick(photo)" ng-dblclick="dblclick(photo)" ng-mousemove="view(photo)">
                <source src="{{photo.src}}" type="{{photo.mimeType}}">
              </video>

              <img ng-src="{{photo.src}}" ng-show="photo.mimeType.split('/')[0] == 'image'" ng-click="click(photo)" rightClick="rightclick(photo)" ng-dblclick="dblclick(photo)" ng-mousemove="view(photo)">
              <aside>
                <dd>
                  <dt>Taken</dt>
                  <dl>{{photo.taken}}</dl>
                </dd>
              </aside>
            </div>
            <div class="clearfix"></div>
          </div> 
          <div class="slider">
              <label class="pull-right  muted">All your photos</label>
              <label class="pull-left  muted">Only the best</label>
              <label class="pull-center muted">{{counter}} photos</label>

              <input type="range" ng-model="zoomLevel" id="zoomLevel">
          </div>

          <footer>
          <div class="group">
            <header class="loader">
                <span></span>
                <span></span>
                <span></span>
            </header>
          </div>
        </footer>

        </div>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
          <ul class="nav">
            <li ng-repeat="group in groups" data-date="{{group.photo.taken}}"><a href="#{{group.id}}"><img ng-src="{{group.photo.src}}"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


    <div class="modal hide fade" id="slideshow" ng-controller="SlideshowController">
       <div class="modal-body">
        <h2>{{group.name}}</h2>

           <div id="myCarousel" class="carousel slide" data-interval="5000">
            <div class="carousel-inner">
              <div class="item" ng-repeat="photo in group.photos|orderBy:'taken'" >  
                <img ng-src="{{photo.src}}" alt="">
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div><!-- /.carousel -->
       </div>
    </div>

    <script type="text/javascript" src="/controllers/groups.js"></script>
    <script type="text/javascript" src="/controllers/photo.js"></script>
    <script type="text/javascript" src="/controllers/slideshow.js"></script>
    <script src="/js/zoom.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      var zoomTimeout;

      document.querySelector( '#wall' ).addEventListener( 'click', function( event ) {
        if (event.target.tagName == "IMG") {
          var target = event.target;

          clearTimeout(zoomTimeout);
          zoomTimeout = setTimeout(function(){
            if (target) zoom.to({ element: target });
          }, 200);
        }
      } );

      document.querySelector( '#wall' ).addEventListener( 'dblclick', function( event ) {
          clearTimeout(zoomTimeout);
      } );

/*
      function updatePerpective(value)
      {
        document.body.style.webkitPerspective = value;
      }

      function setPerspectiveOrigin(event)
      {
        var container = document.body;

        var offsetX = event.pageX - container.offsetLeft;
        var offsetY = event.pageY - container.offsetTop;
        
        var originStyle = (100 * offsetX / container.offsetWidth) + '% ' + (100 * offsetY / container.offsetHeight) + '%';
        container.style.webkitPerspectiveOrigin = originStyle;
      }

      window.addEventListener('load', function() {
        var container = document.body;
        container.addEventListener('mousemove', setPerspectiveOrigin, false);
        updatePerpective(500)
      }, false);*/
  </script>