
  <div id="photos" class="photos" >
    <div ng-controller="GroupsController">

        <div id="wall" class="thumbnails row" when-scrolled="loadMore()">
          <div class="group" ng-repeat="group in groups" id="{{group.id}}">
            <h2>{{group.name}}</h2>
            <div  ng-repeat="photo in group.photos" class="photo {{photo.class}} pull-left" title="{{photo.taken}}" ng-controller="PhotoController">
              <a ng-click="hide(photo)"><i class="icon-thumbs-down"></i></a>
              <a href="/share?date={{photo.taken.split('T')[0]}}"><i class="icon-share"></i></a>
              <a ng-click="star(photo)"><i class="icon-heart-empty"></i></a>
              <a>{{photo.class}}</a>
              <img ng-src="{{photo.src}}" ng-click="click(photo)" ng-dblclick="star(photo)" ng-mousemove="view(photo)">

            </div>
          </div> 
          <div class="slider">
              <label class="pull-right  muted">All your photos</label>
              <label class="pull-left  muted">Only the best</label>
              <label class="pull-center muted">{{counter}} photos loaded.</label>

              <input type="range" ng-model="zoomLevel" id="zoomLevel">
          </div>
        <div>
    </div>
  </div>


    <script type="text/javascript" src="/controllers/groups.js"></script>
    <script type="text/javascript" src="/controllers/photo.js"></script>
    <script src="/js/zoom.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
    
      document.querySelector( '#wall' ).addEventListener( 'click', function( event ) {
        if (event.target.tagName == "IMG") {
          zoom.to({ element: event.target });
        }
      } );


/*
      function updatePerpective(value)
      {
        document.body.style.webkitPerspective = value;
      }

      function setPerspectiveOrigin(event)
      {
        var container = document.body;

        var offsetX = event.pageX - container.offsetLeft;
        var offsetY = event.pageY - container.offsetTop;
        
        var originStyle = (100 * offsetX / container.offsetWidth) + '% ' + (100 * offsetY / container.offsetHeight) + '%';
        container.style.webkitPerspectiveOrigin = originStyle;
      }

      window.addEventListener('load', function() {
        var container = document.body;
        container.addEventListener('mousemove', setPerspectiveOrigin, false);
        updatePerpective(500)
      }, false);*/
  </script>