


<ul class="thumbnails">

<% for(var i=0; i<photos.length; i++) {
    var photo = photos[i];
  %>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="/img/thumbnails/<%=uid%><%=photo.path%>" alt="">
    </a>
  </li>
<% } %>
</ul>



  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Share and collaborate</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span6">
    <img src="img/Photos-icon.png" class="pull-left">
      <h2>Intelligentely&trade; organize your life</h2>
      <p>By carefully combining information from many sources we will help you organize your photos based on location, calendars, tagged people, photo analyzing and face recognition.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>


<%- contentFor('scripts') %>

<script src="/js/jquery.masonry.min.js"></script>

<script>
  var $container = $('.thumbnails');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : 'li',
      columnWidth : 240
    });
  });
</script>