
  <div class="photos">
    <div style="padding-left: 10px;" ng-controller="PhotoController" when-scrolled="loadMore()" >
        <div class="row">
          <div class="span12">
            <h2 ng-cloak>{{photos.length}} photos found</h2>
          </div>
        </div>

        <div id="wall" class="thumbnails">
          <div ng-repeat="group in groups | orderBy:reverse" class="row group">
                <h3 class="pull-right">{{group.name}}</h3>
                <div  ng-repeat="photo in group.photos" class="photo">
                  <img class="{{photo.class}} img-rounded" ng-src="{{photo.src}}">
                  <a href="/share?date={{photo.taken}}"><i class="icon-share"></i></a>
                </div>

          </div>
          <div class="slider">
              <input type="range" ng-model="zoomLevel" id="zoomLevel">
              <label class="pull-left  muted">Fewer</label>
              <label class="pull-right  muted">More</label>
          </div>  
        <div>
    </div>
  </div>


    <script type="text/javascript" src="/controllers/photo.js"></script>
    <script src="//raw.github.com/hakimel/zoom.js/master/js/zoom.js"></script>
    <script src="//vanilla-masonry.desandro.com/masonry.min.js"></script>
    <script>
    
      document.querySelector( '.thumbnails' ).addEventListener( 'click', function( event ) {
        if (event.target.tagName == "IMG") {
          zoom.to({ element: event.target });
          $('.slider').toggle();
        }
      } );

/*
      function updatePerpective(value)
      {
        document.body.style.webkitPerspective = value;
      }

      function setPerspectiveOrigin(event)
      {
        var container = document.body;

        var offsetX = event.pageX - container.offsetLeft;
        var offsetY = event.pageY - container.offsetTop;
        
        var originStyle = (100 * offsetX / container.offsetWidth) + '% ' + (100 * offsetY / container.offsetHeight) + '%';
        container.style.webkitPerspectiveOrigin = originStyle;
      }

      window.addEventListener('load', function() {
        var container = document.body;
        container.addEventListener('mousemove', setPerspectiveOrigin, false);
        updatePerpective(500)
      }, false);*/
  </script>