
  <div id="photos" class="photos" >
    <div style="padding-left: 10px; " ng-controller="PhotoController">

        <div id="wall" class="thumbnails row" style="height: 1024px; overflow: auto;" when-scrolled="loadMore(zoomLevel, lastDate)">
          <div ng-repeat="group in groups" id="{{group.id}}" class="group">
                <h3 class="pull-center">{{group.name}}</h3>
                <div  ng-repeat="photo in group.photos" class="photo">
                  <img ng-src="{{photo.src}}" ng-dblclick="loadMore(zoomLevel + 80, photo.taken); e.preventDefault()">
                  <a href="/share?date={{photo.taken.split('T')[0]}}"><i class="icon-share"></i></a>

                </div>

          </div>
          <div class="slider">
              <label class="pull-right  muted">All your photos</label>
              <label class="pull-left  muted">Only the best</label>
              <label class="pull-center muted">{{photos.length}} photos loaded</label>

              <input type="range" ng-model="zoomLevel" id="zoomLevel">
          </div>  
        <div>
    </div>
  </div>


    <script type="text/javascript" src="/controllers/photo.js"></script>
    <script src="//raw.github.com/hakimel/zoom.js/master/js/zoom.js"></script>
    <script>
    
      document.querySelector( '#wall' ).addEventListener( 'click', function( event ) {
        if (event.target.tagName == "IMG") {
          zoom.to({ element: event.target });
        }
      } );
/*
      function updatePerpective(value)
      {
        document.body.style.webkitPerspective = value;
      }

      function setPerspectiveOrigin(event)
      {
        var container = document.body;

        var offsetX = event.pageX - container.offsetLeft;
        var offsetY = event.pageY - container.offsetTop;
        
        var originStyle = (100 * offsetX / container.offsetWidth) + '% ' + (100 * offsetY / container.offsetHeight) + '%';
        container.style.webkitPerspectiveOrigin = originStyle;
      }

      window.addEventListener('load', function() {
        var container = document.body;
        container.addEventListener('mousemove', setPerspectiveOrigin, false);
        updatePerpective(500)
      }, false);*/
  </script>