
  <div class="photos">
    <div style="padding-left: 100px;" ng-controller="PhotoController" when-scrolled="loadMore()" >
        <div class="row">
          <div class="span12">
            <h2 ng-cloak>{{photos.length}} photos found</h2>
            <input type="range" ng-model="zoomLevel" id="zoomLevel">
          </div>
        </div>

        <div id="wall" class="thumbnails">
          <div ng-repeat="group in groups | orderBy:reverse" class="row group">
                <h3 class="pull-right">{{group.name}}</h3>
               <img ng-repeat="photo in group.photos" class="{{photo.class}} glass" ng-src="{{photo.src}}">
          </div>
        <div>
    </div>
  </div>


    <script type="text/javascript" src="/js/photo.js"></script>
    <script src="//raw.github.com/hakimel/zoom.js/master/js/zoom.js"></script>
    <script src="//vanilla-masonry.desandro.com/masonry.min.js"></script>

    <script>
      document.querySelector( '.thumbnails' ).addEventListener( 'click', function( event ) {
        zoom.to({ element: event.target });
        // console.log('click', this)
      } );


      function updatePerpective(value)
      {
        document.body.style.webkitPerspective = value;
      }

      function setPerspectiveOrigin(event)
      {
        var container = document.body;

        var offsetX = event.pageX - container.offsetLeft;
        var offsetY = event.pageY - container.offsetTop;
        
        var originStyle = (100 * offsetX / container.offsetWidth) + '% ' + (100 * offsetY / container.offsetHeight) + '%';
        container.style.webkitPerspectiveOrigin = originStyle;
      }

      window.addEventListener('load', function() {
        var container = document.body;
        container.addEventListener('mousemove', setPerspectiveOrigin, false);
        updatePerpective(500)
      }, false);
  </script>