

<ul class="thumbnails" ng-controller="PhotoController" when-scrolled="loadMore()" >

<h2 ng-cloak>{{photos.length}} photos found</h2>

  <li ng-repeat="group in groups" class="span3">
    <div class="btn-group kort">
      <a href="#" class="dropdown-toggle thumbnail" data-toggle="dropdown"> 
        <img ng-repeat="photo in group" class="{{photo.class}}" ng-src="{{photo.src}}">
      </a>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <a href="share">Share this photo</a>
        <a href="share?date={{photo.taken}}">Share all photos this day</a>
      </ul>
    </div>
   </li>
</ul>

    <script type="text/javascript" src="/js/photo.js"></script>
    <script src="//raw.github.com/hakimel/zoom.js/master/js/zoom.js"></script>

    <script>
      document.querySelector( '.thumbnails' ).addEventListener( 'click', function( event ) {
        event.preventDefault();
        zoom.to({ element: event.target });
      } );

    </script>

