


<ul class="thumbnails">
Found  <%=photos.length%> photos
<% for(var i=0; i<photos.length; i++){
   var photo = photos[i];
  %>
  <li class="span3">
    <div class="btn-group">

    <a href="#" class="dropdown-toggle thumbnail" data-toggle="dropdown"> 
      <img src="/img/thumbnails/<%=photo.source%>/<%=photo._id%>" alt="">
    </a>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <a href="share">Share this photo</a>
        <a href="share?date=<%=new Date(photo.taken).toISOString()%>">Share all photos this day</a>
      </ul>
    </div>
  </li>
<% }%>
</ul>



  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Share and collaborate</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span6">
    <img src="img/Photos-icon.png" class="pull-left">
      <h2>Intelligentely&trade; organize your life</h2>
      <p>By carefully combining information from many sources we will help you organize your photos based on location, calendars, tagged people, photo analyzing and face recognition.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>


<script src="/js/jquery.masonry.min.js"></script>

<script>
  
  setTimeout(function(){
      $('.thumbnails').masonry();
  }, 2000);
</script>