

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Share photo timeframe</h1>
    <p class="lead">Instead of sharing photos one by one, you will share all photos within a timeframe</p>
  </div>
</header>


<div ng-controller="ShareController" class="row">
  <form method="post" action="?" class="span3 well">
    <h2>Enter timespan</h2>
    <label>Email to share to</label>
    <input type="text" required="required" id="email" name="email" ng-change="refreshPhotos()" ng-model="email"><br>
    <label>Dates to share</label>
    <input type="text" name="daterange" ng-model="dateRange" placeholder="Enter date" ng-init="dateRange = '<%=date ? date.split('T')[0] + " - " + date.split('T')[0] + " 23:59:59" : ""%>'">
    <input type="submit" class="btn btn-action" value="Share">
    
  </form>
  <div class="span8">
    <h2>{{photos.length}} photos selected <small ng-show="photos.length">All these will be shared </small></h2>
    <ul class="thumbnails preview pull-right">
      <li ng-repeat="photo in photos" class="thumbnail span1">
        <img ng-src="{{photo}}">
      </li>
    </ul>
  
  </div>

</div>


<script type="text/javascript" src="/js/share.js"></script>
<script type="text/javascript" src="/js/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/js/bootstrap-daterangepicker/daterangepicker.css" />

<script type="text/javascript">
  $(document).ready(function() {
    $('input[name="daterange"]').daterangepicker(
      {
          ranges: {
              'Today': ['today', 'today'],
              'Yesterday': ['yesterday', 'yesterday'],
              'Last 7 Days': [Date.today().add({ days: -6 }), 'today'],
              'Last 30 Days': [Date.today().add({ days: -29 }), 'today'],
              'This Month': [Date.today().moveToFirstDayOfMonth(), Date.today().moveToLastDayOfMonth()],
              'Last Month': [Date.today().moveToFirstDayOfMonth().add({ months: -1 }), Date.today().moveToFirstDayOfMonth().add({ days: -1 })]
          }
      }, 
      function(start, end) {
          $('#reportrange span').html(start.toString('yyyy-dd-MM') + ' - ' + end.toString('yyyy-dd-MM 23:59:59'));
      }
    );

    $('input#email').typeahead({
      source: function (query, process) {
          $.get('/users', { query: query }, function (data) {
            var emails = [];
            if (data){
              emails = JSON.parse(data)
              emails = emails.map(function(item){
                var email = item.emails ? item.emails[0] : null;

                // only allow non duplicates
                if (email && !emails.some(function(existing){ return existing == email})) {
                  return email;
                } else {
                  return null;
                }

              });
              console.log(emails);
              process(emails);
            }
          });
      }

  });
});

</script>