<div class="container bodyPadding">

  <h1>You have shared <%=spans.length%> time frames</h1>
  <table class="table-hover">
  <% for(var i=0; i<spans.length; i++){
     var span = spans[i];
    %>
    <tr>
      <td>
        <h5><%=span.prettyDates%></h5>
      </td>
      <td>
        <h5><%=span.members%></h5>
      </td>
      <td>
          <a href="/span/remove/<%=span._id%>" class="btn btn-danger">Remove</a>
      </td>
    </tr>
  <% }%>
  </table>
</div>