
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <img src="img/RedChairDesign-icon.png" class="pull-left">
    <h1>One app, all photos</h1>
    <p>Combine all your photos from Dropbox, iCloud, Instagram, Google Drive, Flickr and Facebook and let us help you organize them into nicely organized folders with smart ways to sync them with your friends.</p>
    <p>
      <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.dropbox ? 'disabled': '' %>" href="auth/dropbox" target="_blank">Dropbox</a>
      <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.instagram ? 'disabled': '' %>" href="auth/instagram" target="_blank">Instagram</a>
      <a class="btn btn-primary btn-large <%= user && user.accounts && user.accounts.flickr ? 'disabled': '' %>" href="auth/flickr" target="_blank">Flickr</a>
    </p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Share and collaborate</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span6">
    <img src="img/Photos-icon.png" class="pull-left">
      <h2>Intelligentely&trade; organize your life</h2>
      <p>By carefully combining information from many sources we will help you organize your photos based on location, calendars, tagged people, photo analyzing and face recognition.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

  