<footer>
  <div class="container">
    <header class="hero-unit">
      <img src="http://yfrog.com/images/error-oops.png"/>
      <p class="lead">Sorry, but the page you were trying to view does not exist.</p>
      <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
      </ul>    
    </header>
  </div>
</footer>