<footer>
  <div class="container">
    <header class="hero-unit">
      <img src="http://yfrog.com/images/error-oops.png"/>
      <h1>The Server Encountered an Error</h1>
      <p><span frown><%= error %></span></p>
      
    </header>
  </div>
</footer>