

  <div class="container marketing hero-unit">
      <h1>Importing photos...</h1>
      <p>This may take a while and will be performed in the background. (Imported XX/XX so far...)</p>
      <a href="/wall" class="btn btn-large">View your photo wall</a>
      
  </div>
