<section id="wall" ng-controller="LibraryCtrl" class="{{ 'filter' + zoomLevel }}">
  <% photos.map(function(photo){ %>
      <img draggable="false" src="<%=photo.src%>" id="<%=photo.id%>" class="v<%=photo.vote%>" height="240" width="<%= Math.floor( (240 * photo.ratio || 0) || 240) %>" />
  <% }) %>
  <div class="slider">
      <label class="pull-right  muted">All your photos</label>
      <label class="pull-left  muted">Only the best</label>
      <label class="pull-center muted">{{nrPhotos}} photos</label>
      <input type="range" ng-model="zoomLevel" id="zoomLevel" max="10" step="1">
    </div>

</section>

<script>

  function LibraryCtrl($scope)
  {
    $scope.zoomLevel = 5;
    $scope.$watch('zoomLevel', function(value){
      target = target || document.getElementById(document.location.hash.replace('#','')); 
      clearTimeout(scrollTimeout);
      scrollTimeout = setInterval(function(){target.scrollIntoView()}, 200);
    });
  }


  var scrollTimeout;
  var target;

  document.querySelector( '#wall' ).addEventListener( 'click', function( event ) {
    if (event.target.tagName == "IMG") {
      var target = event.target;
      target.src = target.src.replace('thumbnail', 'original');
      location.href = "#" + target.id;
      target.className = 'v' + Math.max(0, parseInt(target.className) - 1);
    }
  } );

</script>