<section id="library">
  <% photos.map(function(photo){ %>
      <a href=""><img class="v<%=photo.vote%>" src="<%=photo.src%>" height="300" width="<%= Math.floor(300 * photo.ratio || 300) %>"></a>
  <% }) %>
</section>


<style> 
  img{
    margin:1px;
  }
</style>