<footer>
  <div class="container marketing">
    <div class="featurette" style="padding-bottom:30px;">
      <h2 class="featurette-heading">Choose subscription plan</h2>
      <p class="lead">
        Our pricings are based on the level of quality and safety you choose, never on the size of your library. Unlimited amount of photos are always included in all subscription plans.
      </p>
    </div>
    <div class="subscription-plan">

      <h1>Freemium</h1>
        <h2>$0</h2>
        <em>no credit card is required</em>

        <div class="object">
          <p><strong>PHOTO SIZE</strong></p>
          <h2>Downsized photos</h2>
          <p><em>email sized photos, no video.</em></p>
        </div>
        <div class="object">
          <p><strong>SAFETY</strong></p>
          <h2>Single storage pod</h2>
          <p><em>Hardware failure = data loss</em></p>
        </div>
        <div class="feature">
          <h2><i class="icon-ok-sign"></i></h2>
          <p>
            <strong>Unlimited amount of photos</strong>
          </p>
          </div>

          <a href="/buy/free" class="button grey">Subscribe</a>         
        </div>                          


          <div class="subscription-plan recommended">
        <span class="ribbon">Sweet<br>deal</span>

          <h1>Premium</h1>
            <h2>$9.00</h2>
            <em>per month</em>

            <div class="object">
              <p><strong>PHOTO SIZE</strong></p>
              <h2>Unlimited jpeg</h2>
              <p><em><span>Downsized video</span> included</em></p>
            </div>
            <div class="object">
              <p><strong>SAFETY</strong></p>
              <h2>Redundant storage</h2>
              <p><em><span>Hardware failure</span> = no data loss</em></p>
            </div>
            <div class="feature">
              <h2><i class="icon-ok-sign"></i></h2>
              <p>
                <strong>Unlimited amount of photos</strong>
              </p>
              </div>

              <a href="/buy/premium" class="button green">Subscribe</a>         
            </div>                          <div class="subscription-plan">

            <h1> Professional </h1>
              <h2>$50.00</h2>
              <em>per TB / month</em>

              <div class="object">
                <p><strong>PHOTO SIZE</strong></p>
                <h2>Unlimited jpeg + raw</h2>
                <p><em><span>Unlimited </span> video</em></p>
              </div>
              <div class="object">
                <p><strong>SAFETY</strong></p>
                <h2>Redundant two continents</h2>
                <p><em><span>Nature catastrophy</span> = no data loss</em></p>
              </div>
              <div class="feature">
                <h2><i class="icon-ok-sign"></i></h2>
                <p>
                  <strong>Unlimited amount of photos</strong>
                </p>
                </div>

                <a href="/buy/professional" class="button grey">Subscribe</a>          
              </div>                      
            </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="marketing container">

              <div class="featurette">

                <img class="featurette-image pull-right" src="/img/guard.png" style="z-index:100; position:relative;">
                <h2 class="featurette-heading">Your photos are <span class="muted">safe.</span></h2>
                <p class="lead">We use state of the art cloud technology and in all paid subscriptions we ensure your photos will always be backed up so you can count on them to be there when you need them.</p>
              </div>
            </div>
          </footer>