
        

      
  <footer id="footer">
      <div class="container marketing">

        <header class="featurette">
            <div class="container">
              <h2 class="featurette-heading">Every photo is important</h2>
              <p class="lead">
                The photos in your library are your best link to your memories. We want to help you enjoy your photos by introducing a smart timeline which makes it easy for you to access all your memories wherever you are.
              </p>
              <a href="#login" href="#login" role="button" data-toggle="modal" class="btn btn-large btn-success">Try for free</a>
              <a href="#learn" class="btn btn-large">Learn more</a>
            </div>
        </header>  

        <!-- START THE FEATURETTES -->
        <div class="featurette" id="learn">
          <img class="featurette-image pull-right" src="https://kanbanery.com/assets/front/screenshot-f1dc3c56f63a65d9b0a82d36cfd80c69.png"/>
          <video src="/video/upload.mov" class="pull-right" width="462" autoplay loop></video>
          <!-- ~/ffmpeg  -i upload.mov -filter:v scale=924:-1  -an out.mov -->

          <h2 class="featurette-heading">Smart <span class="muted">timeline</span></h2>

          <p class="lead">Everyone has lots of photos but no time to organize them. To put photos into folders or albums is a thing of the past. By using our PhotoSlider&trade; you will be navigating between the best moments in your life within seconds.</p>
        </div>


        <!-- START THE FEATURETTES -->
        <div class="featurette" id="learn">
          <img class="featurette-image pull-left" src="https://kanbanery.com/assets/front/screenshot-f1dc3c56f63a65d9b0a82d36cfd80c69.png"/>
          <video src="/video/upload.mov" class="pull-left" width="462" autoplay loop></video>

          <h2 class="featurette-heading">Folder <span class="muted">upload</span></h2>

          <p class="lead">Drag your USB drive or SD card here or sync them from Dropbox, Facebook or Instagram and within minutes you have all your photos in a beatiful timeline </p>
        </div>

        <hr class="featurette-divider" data-speed="15" data-offset="200" style="background: url(http://pcdn.500px.net/26276483/23045ef4bcf6cfe9aac33c42872f91fbf48db1ae/4.jpg);">

        <div class="featurette">
          <h2 class="featurette-heading">Time based photo <span class="muted">sharing</span></h2>
          <p class="lead">To share photos one by one is a tedious task. With our timesharing feature you can share all photos within a time range and that way help completing your friends and family's photo albums automatically. Great for gathering all photos from holiday trips and weddings etc. You can even share photos in the future - they will autimatically be organized into your library directly when they are taken!</p>
        </div>

        <hr class="featurette-divider" data-speed="15" data-offset="180" style="background: url(http://pcdn.500px.net/19369985/f598680d5372d406078de2a369b299c3486fbc3e/4.jpg);">

        <div class="featurette">
          <img class="featurette-image pull-right" src="http://aphotofolio.com/wp-content/themes/aphotofolio/images/features-iphone-hand@2x.png">
          <div class="mobile pull-right"></div>
          <h2 class="featurette-heading"><span class="muted">Highlights</span> identified</h2>
          <p class="lead">We help you to identify the highlights in your photo library by following your behavior (clicks, views, patterns etc) combined with clues (such as date, location, camera model etc). This means you will always see the best photos first and are able to drill down from those. We make the job of organizing your library for you, so you can start enjoying your photos</p>
        </div>

        <hr class="featurette-divider" data-speed="10" data-offset="240" style="background: url(http://wlppr.com/wallpapers/2013/04/14/Flower_girl.1366x768.jpg); height: 600px">

        <div class="featurette">
          
          <img class="featurette-image pull-left" src="/img/Aperture-icon.png">
          <h2 class="featurette-heading"><span class="muted">Quality</span> matters.</h2>
          <p class="lead">Your photos will stay untouched*. Unlike other photo services you will get your original when viewing your photos which means crisp high quality images. </p>
        </div>
        <hr class="featurette-divider" data-speed="10" data-offset="200" style="background: url(/img/Retina-macbook-pro-2.jpg); height: 500px">


        <div class="featurette">
           <img class="featurette-image pull-left" src="/img/ipad.png">
          
          <h2 class="featurette-heading"><span class="muted">Access</span> all your photos, everywhere</h2>
          <p class="lead">We believe you want to always have access not only the latest or best photos. Sync your library and you get access all your photos from all your devices.</p>
        </div>

        <hr class="featurette-divider" data-speed="10" data-offset="900" style="background: black; height: 500px">


<div class="featurette">
          
          <img class="featurette-image pull-right" src="/img/guard.png">
          <h2 class="featurette-heading"><span class="muted">Privacy</span> first</h2>
          <p class="lead">No one will be able to access your photos, they are encrypted, private and stored just for you with state of the art cloud solutions and encrypted with your own passkey. Your photos will never be visible to anyone but you and those you choose to share them with. We will not try to identify faces or do anything else creepy - we can't even view them! <span class="muted">If you some time in the future decide to end your subscription you will still be able to access your content as a raw s3 bucket including your metadata. We also plan to provide an API for third-party development.</span></p>
        </div>

        <hr class="featurette-divider">
            <small>We are a startup so we are always looking for partnerships and investment inquiries. We are 100% self financed and are dependant on you, our loyal customers, to getting the word out there so we can focus our resources on making the service better and better. Our mission is to take care of your photos, all of them.</small><br>
<img src="http://unbouncepages-com.s3.amazonaws.com/welcome.challengepost.com/get-apps-built-on-your-platform/1tfwryn-customer-logos-grey2.gif">


        <hr class="featurette-divider">


          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2012 Billion Photos Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

      </div>
    </footer>
  
  <script>
    window.setInterval(function(){

      $('.featurette, .featurette-divider').css('backgroundPosition',  function(){
        var position = -Math.round(window.pageYOffset/($(this).data('speed')||1)) + $(this).data('offset');
        return '0px ' + position + 'px'
      });
    }, 25);
  </script>
