  <header ng-show="loading && loadingReverse" class="loader pull-left">
      <span></span>
      <span></span>
      <span></span>
  </header>


  <div id="photos" class="photos" >
    <div ng-controller="WallController" >

        <div id="wall" style="height:{{totalHeight}}px;" class="{{ ('filter' + zoomLevel) + ' ' + (selectedPhoto && 'focus')}}" when-scrolled="scroll()">
            <div id="shim" ng-click="select(null)"></div>
            <input id="date" ng-model="q" ng-show="q" date-format></input>

              <div ng-show="stats && !photosInView.length" class="container row stats" ng-cloak>
                <i class="span3 icon icon-camera supersize"></i>
                <h1>Import summary</h1>
                <h2 class="span6" ng-show="!stats.all">No photos have been imported yet, please use the importers in the menu or just drag a folder here.</h2>
                <div ng-show="stats.all">
                  <h3>{{stats.all}} photos are imported</h3>
                  <h3>{{library.photos.length}} of {{stats.thumbnails}} metadata are synced to this computer</h3>
                 <h3>{{stats.all - stats.originals}} photos are waiting for download</h3>
                </div>
              </div>
            
              <img load="console.log(this)" ng-repeat="photo in photosInView" id="{{photo.taken}}" ng-controller="PhotoController" style="top: {{photo.top}}px; left: {{photo.left}}px; position:absolute; width: {{photo.width}}px; height:{{photo.height}}px;" class="{{ 'v' + photo.vote}} {{photo.class}}" ng-src="{{photo.src}}" ng-cloak  ng-click="click(photo)" right-click="rightClick(photo)" dragstart="dragstart(photo)" ng-dblclick="dblclick(photo)">

          <div class="slider" ng-show="!selectedPhoto">
              <label class="pull-right  muted">All your photos</label>
              <label class="pull-left  muted">Only the best</label>
              <label class="pull-center muted">{{nrPhotos}} photos </label>

              <input type="range" ng-model="zoomLevel" id="zoomLevel" max="10" step="1">

          </div>
          <label fullscreen class="fullscreen"><i ng-class="{'icon-resize-full':!fullscreen, 'icon-resize-small':fullscreen}"></i></label>

          <div id="meta" ng-controller="MetadataCtrl" right-click="rightclick()" ng-cloak="true" ng-show="{{selectedPhoto}}">
            <a class="span6" ng-click="star(selectedPhoto)"><i class="icon-heart"></i></a>
            <a class="span6" ng-click="hide(selectedPhoto)"><i class="icon-thumbs-down"></i></a>
            <a class="span6" href="/share?date={{selectedPhoto.taken}}"></a>
          </div>

        </div>
      </div>
    </div>
  </div>


    <script>
      console.log('connecting...');
      var socket = io.connect();

    </script>