  <header ng-show="loading && loadingReverse" class="loader pull-left">
      <span></span>
      <span></span>
      <span></span>
  </header>


  <div id="photos" class="photos" >
    <div ng-controller="WallController" >

      
        <div id="wall" style="height:{{totalHeight}}px;" class="{{ ('filter' + zoomLevel) + ' ' + (photoInFocus && 'focus')}}" when-scrolled="scroll()">
            <input id="date" ng-model="q" date-format></input>


            
              <img ng-repeat="photo in photosInView" id="{{photo.taken}}" ng-controller="PhotoController" style="top: {{photo.top}}px; left: {{photo.left}}px; position:absolute; width: {{photo.width}}px; height:{{photo.height}}px;" class="{{ 'v' + photo.vote}} {{photo.class}}" ng-src="{{photo.src}}" ng-cloak  ng-click="click(photo)" right-click="rightclick(photo)" dragstart="dragstart(photo)" ng-dblclick="dblclick(photo)">

          <div class="slider">
              <label class="pull-right  muted">All your photos</label>
              <label class="pull-left  muted">Only the best</label>
              <label class="pull-center muted">{{nrPhotos}} photos </label>

              <input type="range" ng-model="zoomLevel" id="zoomLevel" max="10" step="1">

          </div>
          <label fullscreen class="fullscreen"><i ng-class="{'icon-resize-full':!fullscreen, 'icon-resize-small':fullscreen}"></i></label>

        </div>
      </div>
    </div>
  </div>


    <script>
      function vote(id, value){
        alert('Star value ' + value);
        //$('#' + id).css('star'+value);
      }

      var socket = io.connect();


    </script>