  <header ng-show="loading && loadingReverse" class="loader pull-left">
      <span></span>
      <span></span>
      <span></span>
  </header>


  <div id="photos" class="photos" >
    <div ng-controller="WallController" >

      
        <div id="wall" style="height:{{totalHeight}}px;" class="{{ 'filter' + zoomLevel }}" when-scrolled="scroll()">
            <label id="date">{{photoInCenter.taken| date:'MMM yyyy'}}</label>
              <img ng-repeat="photo in photosInView" id="{{photo.taken}}" ng-controller="PhotoController" style="top: {{photo.top}}px; left: {{photo.left}}px; position:absolute;" src="/img/dark_stripes.png" class="{{ 'v' + photo.vote}} {{photo.class}}" ng-src="{{photo.src}}" height="{{photo.height}}" width="{{photo.width}}" ng-cloak  ng-click="click(photo)" rightClick="rightclick(photo)" dragstart="dragstart(photo)" ng-dblclick="dblclick(photo)" ng-mousemove="view(photo)">
          <div class="slider">
              <label class="pull-right  muted">All your photos</label>
              <label class="pull-left  muted">Only the best</label>
              <label class="pull-center muted">{{photos.length}} photos </label>

              <input type="range" ng-model="zoomLevel" id="zoomLevel" max="10" step="1">
          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="/controllers/wall.js"></script>
  <script type="text/javascript" src="/controllers/photo.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  


    <script>
      var zoomTimeout;

      function vote(id, value){
        alert('Star value ' + value);
        //$('#' + id).css('star'+value);
      }

      document.querySelector( '#wall' ).addEventListener( 'click', function( event ) {
        if (event.target.tagName == "IMG") {
          var target = event.target;
          if (target.className.indexOf('selected') < 0 )
            $('.selected').removeClass('selected');

          target.src = target.src.replace('thumbnails', "originals");
          
          $(target).toggleClass('selected');
        }
      } );

      document.addEventListener( 'keydown', function( e ) {
        var keyCode = e.keyCode || e.which,
            arrow = {left: 37, up: 38, right: 39, down: 40 },
            number = {
              zero  : 48, 
              one   : 49, 
              two   : 50, 
              three : 51, 
              four  : 52, 
              five  : 53, 
              six   : 54, 
              seven : 55, 
              eight : 56, 
              nine  : 57
            }

        e.preventDefault;

        switch (keyCode) {
          case arrow.left:
            $('.selected').toggleClass('selected').prev().toggleClass('selected');
            $("html, body").animate({scrollTop: $('.selected')[0].top}, 100)
            
          break;
          case arrow.up:
            //..
          break;
          case arrow.right:
            $('.selected').toggleClass('selected').next().toggleClass('selected');
            $("html, body").animate({scrollTop: $('.selected')[0].top}, 100)

            
          break;
          case arrow.down:
            //..
          break;
          case number.zero : vote($('.selected')[0].id, 0); break;
          case number.one : vote($('.selected')[0].id, 1); break;
          case number.two : vote($('.selected')[0].id, 2); break;
          case number.three : vote($('.selected')[0].id, 3); break;
          case number.four : vote($('.selected')[0].id, 4); break;
          case number.five : vote($('.selected')[0].id, 5); break;
          case number.sixe : vote($('.selected')[0].id, 6); break;
          case number.seven : vote($('.selected')[0].id, 7); break;
          case number.eight : vote($('.selected')[0].id, 8); break;
          case number.nine : vote($('.selected')[0].id, 9); break;
        }
      });

      document.querySelector( '#wall' ).addEventListener( 'dblclick', function( event ) {
          clearTimeout(zoomTimeout);
      } );

    </script>