
  <footer id="footer">
    <section class="container">
        <div class="featurette">
          
          <h2 class="featurette-heading">Why another <span class="muted">photo service?</span></h2>
          <p class="lead">We have waited for many years for a photo service to appear that takes care of the problem with our huge library of photos. However it became clear that most services were focusing too much on owning rights to the photos or to only select a subset of the photos. Also many services focus on getting backup of the photos but no service gives all of these features in one platform. We wanted that so we started this company.</p>
        </div>


        <div class="featurette">
           <img class="featurette-image pull-left" src="/img/cloud.png">
          
          <h2 class="featurette-heading">How does it <span class="muted">work?</span></h2>
          <p class="lead">When you connect to sync your photos from your home computer, Dropbox, Instagram or any of our other connectors we will automatically download all your photos in highest possible resolution and store them safely in our cloud. All photos will be available in one place; "the wall". You may access your photo wall both from computers or mobile phones such as iPad or iPhone or Android</p>
        </div>


        <div class="featurette">
           <img class="featurette-image pull-right" src="/img/henrik.png">
          
          <h2 class="featurette-heading">Who are <span class="muted">we?</span></h2>
          <p class="lead">The founders of All Your Photos are Christian Landgren and Henrik Landgren. We both share our passion for tech and photography and have experience with secure scalable solutions and data analytics.</p>
        </div>


        <div class="featurette">
           <img class="featurette-image pull-left" src="/img/christian.png">
          
          <h2 class="featurette-heading">Can you trust <span class="muted">us?</span></h2>
          <p class="lead">This is an important question. You should be worried about security and especially with the precious photos. Every photo will be encrypted and only accessible to you or the ones you choose to share it with.Since it is encrypted we have no ability to use it in any other purposes than to show it to you.</p>
        </div>

        <hr class="featurette-divider">
      </section>
  </footer>