<footer>
  <div class="container statuscode">
    <header class="hero-unit">
      <h1>Oups!</h1>
      <h2>Something wierd just happened.</h2>
      <p><span frown><%= error %></span></p>
      
    </header>
  </div>
</footer>